@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    @if(ViewBag.User is null)
    {
        <h1 class="display-4">Welcome</h1>
        <p>
            <a class="btn btn-success" asp-action="LineLogin">Line Login</a>
        </p>
    }
    else
    {
        <h1 class="display-4">Hi, @ViewBag.User.DisplayName</h1>
        <p>@ViewBag.User.Sub</p>
        <p><img src="@ViewBag.User.PictureUrl" width="128" height="128" /></p>
        @if(!String.IsNullOrEmpty(ViewBag.User.StatusMessage))
        {
            <div class="alert alert-primary" role="alert">
                @ViewBag.User.StatusMessage
            </div>
        }
        <a class="btn btn-success" asp-action="LineLogin">Bind Line Notify</a>
        <a class="btn btn-danger" asp-action="LineLogout">Logout</a>
    }
</div>
